.containers {
  background-color: white;
  padding: 0;
  margin: 15px;
  border-radius: 10px;
}


.header {
  background-color: #CFD8DC;
  width: 100%;
  height: 55px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  color: #477070;
  padding: 14px;
}

.all-content {
  padding: 15px;
}

.single {
  padding: 10px;
  font-weight: bold;
  border-bottom: 0.5px solid #CFD8DC;
  color: #477070
}

.order p  {
  font-weight: bold;
  color: white;
  margin-top: 45px;

}

.order {
  margin-left: 20px;
}
