<div class="container">
  <div class="row order">
    <p>Order Type</p>
  </div>
  <div class="row">
    <div class="col-md align-items-center containers">
      <div class="header">
        <p class="justify-content-center ">Delivery Types</p>
      </div>
      <div class="all-content">
        <div *ngFor="let delivery of deliveryTypes " class="single container d-flex justify-content-between">
          <span>{{delivery}}</span>
          <mat-slide-toggle [formControl]="form" (change)="inData(delivery)" color="primary"></mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="col-md align-items-center containers">
      <div class="header">
        <p class="justify-content-center ">Order Groups</p>
      </div>
      <div class="all-content">
        <div *ngFor="let order of orderGroups " class="single container d-flex justify-content-between">
          <span>{{order}}</span>
          <mat-slide-toggle [formControl]="form" (change)="inData(order)" color="primary"></mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="col-md align-items-center containers">
      <div class="header">
        <p class="justify-content-center ">Modules</p>
      </div>
      <div class="all-content">
        <div *ngFor="let module of modules" class="single container d-flex justify-content-between">
          <span>{{module}}</span>
          <mat-slide-toggle [formControl]="form" (change)="inData(module)" color="primary"></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
